body {
	background: #deedf7 url('../styles/themes/cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png') repeat-x scroll 50% top;
	margin: 0px;
	padding: 0px;
}
#logo {
	width: 400px;
	height: 353px;
	background-image: url('../images/wcell_logo.png');
	background-repeat: no-repeat;
}
#console {
	width: 800px;
	height: 500px;
}
pre {
	font-family: monospace;
	font-size: 0.8em;
	color: black;
	text-align: left;
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
